# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so
*.egg-info/
.dist-info/

# Virtualenv
.venv/
venv/
env/
ENV/

# Logs
*.log

# Kivy runtime/build
.kivy/
build/
dist/
bin/

# Buildozer / Android
.buildozer/
.gradle/
.cxx/
*.keystore
*.aab
*.apk

# iOS / Xcode
*.xcodeproj/
*.xcworkspace/
DerivedData/

# IDEs
.idea/
.vscode/

# OS cruft
.DS_Store
Thumbs.db

# Local runtime data
.userdata/
